.layout {
  margin-top: 6px;
  display: grid;
  grid-template-columns: minmax(250px, 0.8fr) minmax(0, 2.4fr);
  gap: 10px;
}

.content {
  min-width: 0;
}

@media (max-width: 900px) {
  :global(body.app-standalone-mode) .layout {
    grid-template-columns: 1fr;
    margin-top: 10px;
  }

  :global(body.app-standalone-mode) .layout > aside {
    display: none;
  }

  :global(body.app-standalone-mode) .content {
    display: grid;
    gap: 12px;
  }
}
